# SPDX-FileCopyrightText: 2026 Hamid Gholami
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.idea/
.vscode/
*.swp
*~

.env
.env.*
!.env.example
*.pem
*.key
*.p12

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
.tofu/

.venv/
.cache/
__pycache__/
node_modules/
coverage/
reports/
ansible/inventories/**/*.yml
!ansible/inventories/**/hosts.example.yml
!ansible/inventories/**/group_vars/
!ansible/inventories/**/group_vars/*.yml
