# SPDX-FileCopyrightText: 2026 Hamid Gholami
# SPDX-License-Identifier: Apache-2.0

[defaults]
collections_path = .cache/ansible/collections
interpreter_python = auto_silent
local_tmp = .cache/ansible/tmp
retry_files_enabled = false
roles_path = ansible/roles

[inventory]
enable_plugins = yaml
