// SPDX-FileCopyrightText: 2026 Hamid Gholami
// SPDX-License-Identifier: Apache-2.0
// Managed by Ansible. Local edits are overwritten.

include "/etc/bind/rpr-options.conf";
include "/etc/bind/rpr-tsig.conf";
include "/etc/bind/rpr-secondary-zones.conf";
