# SPDX-FileCopyrightText: 2026 Hamid Gholami
# SPDX-License-Identifier: Apache-2.0
# schema-version: {{ incus_host_preseed_schema_version }}

config:
  core.https_address: "{{ incus_host_api_address }}:{{ incus_host_api_port }}"
networks: []
storage_pools: []
storage_volumes: []
profiles: []
projects: []
cluster: null
